#ImageId    {height: 100%; position: absolute; top:0; }
#nrbyStatus {font-size: small; overflow:hidden; position: absolute; top: 100px; display:none; }
#nrbyInfo   {font-size: small; overflow:hidden; position: absolute; top: 0;}
/*#refreshButton {position:absolute; right:0; z-index:99999;display:none;}*/
#wallpaperButton {position:absolute; left:0; z-index:99999;display:none;}
#infoTitle {overflow:hidden;}
#infoBody {margin-top:65px; text-align:center;}
#infoThumb {float:left;}