<div class="palm-body-text">
  <div id="infoBody">
    <!--div x-mojo-element="Button" id="gotoPhotoPage"></div-->
    <!--div x-mojo-element="Button" id="setWallpaper"></div-->
    <img id="infoMap" width="300" height="200"/>
    <div id="infoGroup" class="palm-group unlabeled">
      <img id="infoThumb"/>
      "<strong id="infoTitle"></strong>"
      <span id="license"></span> by <span id="author"></span>.
      <em>Taken <span id="date"></span>, <span id="where"></span></em>.
      <div class="clearfloat"></div>
    </div>
    
  </div>
</div>
