<div class="palm-body-text">
  <div id="infoTitle" class="palm-header">----</div>
  <div id="infoBody">
    <!--div x-mojo-element="Button" id="gotoPhotoPage"></div-->
    <!--div x-mojo-element="Button" id="setWallpaper"></div-->
    <div id="infoGroup" class="palm-group unlabeled">
      <img id="infoThumb"/>
      <span id="license"></span> by <span id="author"></span>.
      Taken <span id="date"></span>.
      <div class="clearfloat"></div>
    </div>
    <img id="infoMap" width="300" height="200"/>
    <div id="where"></div>
  </div>
</div>
