<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
  <div id="infoTitle" class="palm-header">----</div>
  <div id="infoBody">
    <!--div x-mojo-element="Button" id="gotoPhotoPage"></div-->
    <!--div x-mojo-element="Button" id="setWallpaper"></div-->
    <div id="gotoPhotoPage" class="palm-group unlabeled">
      <img id="infoThumb"/>
      Copyright <span id="author"></span>
      <div id="license"></div>
      <div id="date"></div>
      <div> </div>
    </div>
    <img id="infoMap" width="300" height="200"/>
    <div id="where"></div>
  </div>
</div>
